<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>ADMIN ALTER PACKAGE IMAGE</title>
  </head>
  <body>
    <div
      class="container1 formContainer"
      id="contents"
      layout:fragment="contents"
    >
      <div id="sending">
        <h2>Admin Alter Package Image</h2>
        <form
          action="/admin/pkgModifyImgProcess"
          method="post"
          th:object="${pkgDto}"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="pkgNo" th:value="${pkgDto.pkgNo}" />
          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Package Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="pkgName"
              name="pkgName"
              th:value="${pkgDto.pkgName}"
            />
          </div>
          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Package Region</label>
            <select
              class="form-select"
              aria-label="Default select example"
              name="pkgRegion"
              th:value="${pkgDto.pkgRegion}"
            >
              <option selected>Select Region</option>
              <option value="KOREA">South Korea</option>
              <option value="JAPAN">Japan</option>
              <option value="CHINA">China</option>
            </select>
          </div>
          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Package Original Image</label>
            <img
              th:src="@{|/upload/${pkgDto.pkgMainRenamedPath}|}"
              alt="${pkgDto.pkgMainRenamedPath}"
            />
            <span th:text="${pkgDto.pkgMainRenamedPath}"></span>
          </div>
          <div class="mb-2 leftAlign">
            <label for="" class="form-label">Package Main Image</label>
            <input
              type="file"
              class="form-control"
              placeholder="Package Main Image"
              name="pkgMainOrigin"
              th:value="${pkgDto.pkgMainOrigin}"
            />
          </div>
          <div class="joinBtn">
            <button type="button confirm" class="btn btn-primary btn-lg">
              Submit
            </button>
            <button type="button reset" class="btn btn-secondary btn-lg">
              Reset
            </button>
          </div>
        </form>
      </div>

      <script></script>
    </div>
  </body>
</html>
