<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>AIRPLANE</title>
  </head>
  <body>
    <div class="container1 formContainer company" id="contents" layout:fragment="contents">
      <div id="sending">
        <h1 class="discount-banner font900 sakura h1" data-aos="fade-down" data-aos-delay="400">TRANSPORTATION</h1>
        <h3 class="discount-banner font700" data-aos="fade-up" data-aos-delay="500"> AIRPLANES</p>

        <div class="companyInfo"><img src="/images/transportation/a-1.jpg" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
        <a href="https://www.koreanair.com/"  target="_blank"><button class="btn btn-danger" data-aos="fade-up" data-aos-delay="400">Visit Korean Air</button> </a>
        <div class="companyInfo"><img src="/images/transportation/a-2.jpg" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
        <a href="https://www.jal.co.jp/kr/en/"  target="_blank"><button class="btn btn-danger mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit Japan Airlines</button> </a>
        <div class="companyInfo"><img src="/images/transportation/a-3.jpg" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
    <a href="https://www.china-airlines.com/us/en"  target="_blank"><button class="btn btn-danger mt-5" data-aos="fade-up" data-aos-delay="400">Visit China Airlines</button> </a>
      </div>
  </body>
</html>
