<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>PARTNERS</title>
  </head>
  <body>
    
    <div id="contents" layout:fragment="contents">

        
        <section class="section01 investors01 invContainer" style="height:auto;">
        <div
          class="container01 products-title"
        >
          <div class="invBox">
            <h2 data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="800"
            style="font-family: 'Ubuntu' !important;"><strong>OUR INVESTORS</strong></h2>
            <p class="pbox"
            style="font-size: 22px; font-family: 'Ubuntu';"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="1000"
            >Not only is our aim to provide ambitious entrepreneurs with a compelling partner for the most exciting stage
              of their growth journey, but it’s also important we work with investors who share our vision, and passion for
              investing in high growth businesses and driven people.
            <br>
              <!-- Our investors put their profits to work in worthwhile causes that have a very real, positive impact on society. -->
            <br>
           
            As a team, we’ve put in a significant amount of capital making the success of every investment very personal to each and every one of us. </p>
          </div>
            <ul class="investors__list products-title"
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-delay="1200">
          <li><a href="https://www.koreanair.com/" target="_blank"><img src="/images/investors/koreanair.png" alt=""></a></li>
          <li><a href="https://www.jal.co.jp/kr/en/" target="_blank"><img src="/images/investors/jal.png" alt=""></a></li>
          <li><a href="https://www.china-airlines.com/us/en" target="_blank"><img src="/images/investors/china.png" alt=""></a></li>
          <li><a href="https://main.seoulcitybus.com/index.php" target="_blank"><img src="/images/investors/seoulbuss.png" alt=""></a></li>
          <li><a href="https://www.tabione.com/en/tokyobus/" target="_blank"><img src="/images/investors/japanbus.png" alt=""></a></li>
          <li><a href="https://www.chinaticketonline.com/trains/ target="_blank""><img src="/images/investors/chinabuss.png" alt=""></a></li>
          <li><a href="https://www.letskorail.com/ebizbf/EbizbfForeign_pr16100.do?gubun=1" target="_blank"><img src="/images/investors/koreatrain.png" alt=""></a></li>
          <li><a href="https://shinkansen-ticket.com/" target="_blank"><img src="/images/investors/japantrain.png" alt=""></a></li>
          <li><a href="https://www.chinaticketonline.com/trains/" target="_blank"><img src="/images/investors/chinatrain.png" alt=""></a></li>
          <!-- <li><a href="/transportation/associated#korplane"><img src="/images/investors/koreanair.png" alt=""></a></li>
          <li><a href="/transportation/associated#japplane"><img src="/images/investors/jal.png" alt=""></a></li>
          <li><a href="/transportation/associated#chiplane"><img src="/images/investors/china.png" alt=""></a></li>
          <li><a href="/transportation/associated#korbus"><img src="/images/investors/seoulbus.png" alt=""></a></li>
          <li><a href="/transportation/associated#japbus"><img src="/images/investors/japanbus.png" alt=""></a></li>
          <li><a href="/transportation/associated#chibus"><img src="/images/investors/chinabus.png" alt=""></a></li>
          <li><a href="/transportation/associated#kortrain"><img src="/images/investors/koreatrain.png" alt=""></a></li>
          <li><a href="/transportation/associated#japtrain"><img src="/images/investors/japantrain.png" alt=""></a></li>
          <li><a href="/transportation/associated#chitrain"><img src="/images/investors/chinatrain.png" alt=""></a></li> -->
        </ul>
        </div>
      </section>
      <a name="korplane" style="position:absolute; top: 1020px;"></a>
      <a name="japplane" style="position:absolute; top: 2670px;"></a>
      <a name="chiplane" style="position:absolute; top: 4220px;"></a>
      <a name="korbus" style="position:absolute; top: 5906px;"></a>
      <a name="japbus" style="position:absolute; top: 7236px;"></a>
      <a name="chibus" style="position:absolute; top: 8969px;"></a>
      <a name="kortrain" style="position:absolute; top: 10364px;"></a>
      <a name="japtrain" style="position:absolute; top: 12372px;"></a>
      <a name="chitrain" style="position:absolute; top: 14080px;"></a>
        <!-- <div class="container1 formContainer company">
                <div id="sending">
              

                  
          <h1 class="discount-banner font900 navy h1" data-aos="fade-down" data-aos-delay="400">OUR PARTNERS</h1>
          <h3 class="discount-banner font700" data-aos="fade-up" data-aos-delay="500"> AIRPLANES</p>
            <div class="navybar"  data-aos="fade-up" data-aos-delay="800"></div>
          <div class="companyInfo"><img src="/images/transportation/a-1.jpg"
            class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
          <a href="https://www.koreanair.com/"  target="_blank"><button class="btn btn-danger mb-5" data-aos="fade-up" data-aos-delay="400">Visit Korean Air</button> </a>
          <hr>
          <div class="companyInfo"><img src="/images/transportation/a-2.jpg" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
          <a href="https://www.jal.co.jp/kr/en/"  target="_blank"><button class="btn btn-danger mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit Japan Airlines</button> </a>
          <hr>
          <div class="companyInfo"><img src="/images/transportation/a-3.jpg" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
              <a href="https://www.china-airlines.com/us/en"  target="_blank"><button class="btn btn-danger mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit China Airlines</button> </a>

          <hr>
          <h1 class="discount-banner font900 navy h1 mt-5" data-aos="fade-down" data-aos-delay="400">OUR PARTNERS</h1>
          <h3 class="discount-banner font700" data-aos="fade-up" data-aos-delay="500"> BUS</p>
          <div class="navybar"  data-aos="fade-up" data-aos-delay="800"></div>
          
          <div class="companyInfo"><img src="/images/transportation/c-1.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
          <a href="https://main.seoulcitybus.com/index.php"  target="_blank"><button class="btn btn-success mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit Seoul Tiger Bus</button> </a>
          <hr>
          <div class="companyInfo"><img src="/images/transportation/c-2.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
          <a href="https://www.tabione.com/en/tokyobus/"  target="_blank"><button class="btn btn-success mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit Tokyo Bus</button> </a>
          <hr>
          <div class="companyInfo"><img src="/images/transportation/c3.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
          <a href="https://www.chinaticketonline.com/trains/"  target="_blank"><button class="btn btn-success mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit HSR</button> </a>

          
          <hr>
          
          <h1 class="discount-banner font900 navy h1 mt-5" data-aos="fade-down" data-aos-delay="400">OUR PARTNERS</h1>
          <h3 class="discount-banner font700" data-aos="fade-up" data-aos-delay="500"> TRAIN</p>
          <div class="navybar"  data-aos="fade-up" data-aos-delay="800"></div>
          
          <div class="companyInfo"><img src="/images/transportation/b-1.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
          <a href="https://www.letskorail.com/ebizbf/EbizbfForeign_pr16100.do?gubun=1"  target="_blank"><button class="btn btn-success mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit KTX</button> </a>
          <hr>
          <div class="companyInfo"><img src="/images/transportation/b-2.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
          <a href="https://shinkansen-ticket.com/"  target="_blank"><button class="btn btn-success mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit Shinkansen</button> </a>
          <hr>
          <div class="companyInfo"><img src="/images/transportation/b-3.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
          <a href="https://www.chinaticketonline.com/trains/"  target="_blank"><button class="btn btn-success mt-5" data-aos="fade-up" data-aos-delay="400">Visit HSR</button> </a>
        </div>
</div> -->
<!-- <script>
  window.addEventListener("scroll", (event) => {
    let scrollY = this.scrollY;
    console.log(scrollY);
});
</script> -->
<script>
  setTimeout(function () {
  $(".footer").css("display", "none");
  $(".btn-top").css("display", "none");
  }, 1);
  </script>
  </body>
</div>
</html>