<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>TRAIN</title>
  </head>
  <body>
    <div class="container1 formContainer company" id="contents" layout:fragment="contents">
      <div id="sending">
                <h1 class="discount-banner font900 sakura h1" data-aos="fade-down" data-aos-delay="400">TRANSPORTATION</h1>
        <h3 class="discount-banner font700" data-aos="fade-up" data-aos-delay="500"> TRAIN</p>
          <div class="bar"  data-aos="fade-up" data-aos-delay="800"></div>

        <div class="companyInfo"><img src="/images/transportation/b-1.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
        <a href="https://www.letskorail.com/ebizbf/EbizbfForeign_pr16100.do?gubun=1"  target="_blank"><button class="btn btn-success mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit KTX</button> </a>
        <div class="companyInfo"><img src="/images/transportation/b-2.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
        <a href="https://shinkansen-ticket.com/"  target="_blank"><button class="btn btn-success mt-5 mb-5" data-aos="fade-up" data-aos-delay="400">Visit Shinkansen</button> </a>
        <div class="companyInfo"><img src="/images/transportation/b-3.png" class ="comprofile" data-aos="fade-up" data-aos-delay="600" alt=""></div>
    <a href="https://www.chinaticketonline.com/trains/"  target="_blank"><button class="btn btn-success mt-5" data-aos="fade-up" data-aos-delay="400">Visit HSR</button> </a>
    </div>
  </body>
</html>
