<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>PACKAGE RECOMMENDATION</title>
  </head>
  <body>
    <div
      class="formContainer"
      id="contents"
      layout:fragment="contents"
      style="height: 175vh !important"
    >
      <video
        src="/videos/loading.mp4"
        id="videoObj"
        style="
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          width: 100%;
          height: 100%;
          z-index: 9999;
          display: none;
        "
      ></video>
      <div class="wrap pkgCountryVideo">
        <video
          src="/videos/airport.mp4"
          autoplay
          muted
          loop
          class="visual_img"
          id="airportVideo"
        ></video>
      </div>
      <div class="QuestionTxt">
        <div class="" style="z-index: 29">
          <h2>
            Question 1. 여행 장소를 정해야 한다! 어디든 갈 수 있다면 나는?
          </h2>
          <div>
            <label class="btnAVG" btn-outline-dark>
              <img src="/images/recommendation/q1AVG.jpg" />
              사람들과 볼거리가 많은 유명 관광지로! AVG</label
            >
            <label class="btnGS">
              <img src="/images/recommendation/q1GS.jpg" />
              공기 좋고 조용한 푸르른 자연 속으로! GS</label
            >
          </div>
        </div>
        <div class="" style="z-index: 28">
          <h2>Question 2. 긴장되고 설레는 첫 공항!</h2>
          <div>
            <label class="btnCE" btn-outline-dark>
              <img src="/images/recommendation/q2CE.jpg" />
              무조건 2시간 전 도착 엄수! CE</label
            >
            <label class="btnFA">
              <img src="/images/recommendation/q2FA.jpg" />
              아슬아슬하게 도착해도... 어떻게든 되겠지ㅎㅎ FA</label
            >
          </div>
        </div>
        <div class="" style="z-index: 27">
          <h2>
            Question 3. 눈앞에 펄쳐진 산호빛 바다, 그것을 본 당신의 선택은?
          </h2>
          <div>
            <label class="btnAVG" btn-outline-dark>
              <img src="/images/recommendation/q3AVG.jpg" />
              에어컨이 빵빵한 오션뷰 호텔에서 달콤한 휴식~~ AVG</label
            >
            <label class="btnFA">
              <img src="/images/recommendation/q3FA.jpg" />
              당장 수영복을 입고 바다로 뛰어든다!!! FA</label
            >
          </div>
        </div>
        <div class="" style="z-index: 26">
          <h2>Question 4. 둘 중 절대 포기할 수 없는 것은?</h2>
          <div>
            <label class="btnCE" btn-outline-dark>
              <img src="/images/recommendation/q4CE.jpg" />
              구비구비 산골짜기 고즈넉한 온천료칸! CE</label
            >
            <label class="btnFA">
              <img src="/images/recommendation/q4FA.jpg" />
              도심 한복판 초호화 풀옵션 5성급 호텔! FA</label
            >
          </div>
        </div>
        <div class="" style="z-index: 25">
          <h2>Question 5. 둘 중 내가 더 잘 할 수 있는 연기는?</h2>
          <div>
            <label class="btnGS" btn-outline-dark>
              <img src="/images/recommendation/q5GS.jpg" />
              화 났는데 안 난 척 하기 GS</label
            >
            <label class="btnAVG">
              <img src="/images/recommendation/q5AVG.jpg" />
              무서운데 안 무서운 척 하기 AVG</label
            >
          </div>
        </div>
        <div class="" style="z-index: 24">
          <h2>Question 6. 여행지에서 하루를 마무리하며 노을을 바라보는데...</h2>
          <div>
            <label class="btnGS btnRF" btn-outline-dark>
              <img src="/images/recommendation/q6GS.jpg" />
              남는건 사진뿐! 앨범에 담는다. GS</label
            >
            <label class="btnCE btnRF">
              <img src="/images/recommendation/q6CE.jpg" />
              이 순간을 온전히 눈과 마음으로 담는다. CE</label
            >
          </div>
        </div>
      </div>
      <div id="imageFrame"></div>
      <div id="recommendedVideo"></div>
      <div
        id="recommendedTitle"
        style="
          font-size: 50px;
          font-weight: 700;
          position: absolute;
          top: 20vh;
          left: 30vw;
          display: none;
          color: white;
        "
      >
        Our Recommendations for you!!!
      </div>
      <div
        id="recommendedResult"
        style="position: relative; top: -85vh; height: 100vh"
      ></div>
      <script>
        /*=======================================================================*/
        /*=========================== RECOMMENDATION #1 START ===================*/
        // 텍스트 선택지로 추천 후보 리스트를 선정한 후, 서브 이미지 랜덤 표시
        let GS = 1;
        let FA = 1;
        let CE = 1;
        let AVG = 1;
        let array = new Array();

        $(".btnGS").on("click", function () {
          const clicked = $(this).parent().parent();
          if (GS < 3) {
            GS = GS + 1;
          }
          $(this).parent().parent().css("opacity", "0");
          setTimeout(function () {
            clicked.css("display", "none");
          }, 500);
        });
        $(".btnCE").on("click", function () {
          const clicked = $(this).parent().parent();
          if (CE < 3) {
            CE = CE + 1;
          }
          $(this).parent().parent().css("opacity", "0");
          setTimeout(function () {
            clicked.css("display", "none");
          }, 500);
        });
        $(".btnFA").on("click", function () {
          const clicked = $(this).parent().parent();
          if (FA < 3) {
            FA = FA + 1;
          }
          $(this).parent().parent().css("opacity", "0");
          setTimeout(function () {
            clicked.css("display", "none");
          }, 500);
        });
        $(".btnAVG").on("click", function () {
          const clicked = $(this).parent().parent();
          if (AVG < 3) {
            AVG = AVG + 1;
          }
          $(this).parent().parent().css("opacity", "0");
          setTimeout(function () {
            clicked.css("display", "none");
          }, 500);
        });
        $(".btnRF").on("click", function () {
          const sendData = {
            ratedGS: GS,
            ratedCE: CE,
            ratedFA: FA,
            ratedAVG: AVG,
          };
          $.ajax({
            url: "/package/getTempRecoList",
            data: sendData,
            type: "POST",
            success: function (res) {
              let tempHtml = "";
              tempHtml += `
              <div class="imgFrame" style="z-index: 19">
                <h2>Which picture do you prefer?</h2>
                  <div style="display:flex; text-align:center;">
                    <label><img src="http://localhost:9091/upload/${res[0].pkgMainRenamedPath}" style="height:50vh;width:33.3vw" data-no="${res[0].pkgNo}"/></label>
                    <label><img src="http://localhost:9091/upload/${res[1].pkgMainRenamedPath}" style="height:50vh;width:33.3vw" data-no="${res[1].pkgNo}"/></label>
                  </div>
                </div>
                <div class="imgFrame" style="z-index: 18">
                <h2>Which picture do you prefer?</h2>
                  <div style="display:flex; text-align:center;">
                    <label><img src="http://localhost:9091/upload/${res[2].pkgMainRenamedPath}" style="height:50vh;width:33.3vw" data-no="${res[2].pkgNo}"/></label>
                    <label><img src="http://localhost:9091/upload/${res[3].pkgMainRenamedPath}" style="height:50vh;width:33.3vw" data-no="${res[3].pkgNo}"/></label>
                  </div>
                </div>
                <div class="imgFrame" style="z-index: 17">
                <h2>Which picture do you prefer?</h2>
                  <div style="display:flex; text-align:center;">
                    <label><img src="http://localhost:9091/upload/${res[4].pkgMainRenamedPath}" style="height:50vh;width:33.3vw" data-no="${res[4].pkgNo}"/></label>
                    <label><img src="http://localhost:9091/upload/${res[5].pkgMainRenamedPath}" style="height:50vh;width:33.3vw" data-no="${res[5].pkgNo}"/></label>
                  </div>
                </div>
                <div class="imgFrame lastImgFrame" style="z-index: 16">
                <h2>Which picture do you prefer?</h2>
                  <div style="display:flex; text-align:center;">
                    <label><img src="http://localhost:9091/upload/${res[6].pkgMainRenamedPath}" style="height:50vh;width:33.3vw" data-no="${res[6].pkgNo}"/></label>
                    <label><img src="http://localhost:9091/upload/${res[7].pkgMainRenamedPath}" style="height:50vh;width:33.3vw" data-no="${res[7].pkgNo}"/></label>
                  </div>
                </div>
                  `;

              $("#imageFrame").html(tempHtml);
            },
          });
        });
        /*=========================== RECOMMENDATION #1 END =====================*/
        /*=======================================================================*/

        /*=======================================================================*/
        /*=========================== RECOMMENDATION #2 START ===================*/
        // 표시된 이미지 중 선택된 이미지에만 해당하는 패키지 상품을 추천목록으로 표시
        let isOngoing = false;
        let sendData02;
        $("#imageFrame").on("click", ".imgFrame div label", function () {
          if (isOngoing) {
            return false;
          } else {
            isOngoing = true;
            const clicked = $(this).parent().parent();
            setTimeout(function () {
              clicked.css("display", "none");
            }, 500);
            setTimeout(function () {
              isOngoing = false;
            }, 500);
            $(this).parent().parent().css("opacity", "0");
            array.push($(this).children("img").data("no"));
            sendData02 = {
              pkgNo01: array[0],
              pkgNo02: array[1],
              pkgNo03: array[2],
              pkgNo04: array[3],
            };
          }
        });
        $("#imageFrame").on("click", ".lastImgFrame div label", function () {
          console.log(sendData02);
          $.ajax({
            url: "/package/getRecommendedList",
            data: sendData02,
            type: "POST",
            success: function (response) {
              console.log(response);
              $("#airportVideo").css("display", "none");

              let tempVideo = `
              <video class="pkgCountryVideo visual_img" src="/videos/recommendation.mp4" autoplay muted loop></video>
              `;
              let tempHtml = "";
              $.each(response, function (idx, item) {
                tempHtml += `
                <a href="/package/pkgdetailview?pkgNo=${item.pkgNo} "
                class="card mb-3 btn-outline-light pkgCountryList" style="opacity:0.8;" data-aos="zoom-in" data-aos-duration="600" >
                <div class="row g-0 recoResult">
                  <div class="col-md-4 depth011">
                  <img src="http://localhost:9091/upload/${item.pkgMainRenamedPath}" class="img-fluid rounded-start mt-3 ml-1 packageImage depth011Img"
                  style="width:22.5vw;height:30vh"/>
                  </div>
                <div class="col-md-8 depth012">
                  <div class="card-body" style="text-align: left;font-size: 14px;color: black;font-weight: bold;">
                  <h5><span class="card-title" style="color: white;display: inline-block;padding: 0.1em 0;background: rgb(152, 55, 146);">
                    &nbsp;${item.pkgName}&nbsp;</span>
                    <span class="recoRate">${item.ratedAVGTxt}</span>
                  </h5>
                  <span>Package No</span> <span>:</span> 
                  <span style="font-size: 13px;color: black;font-weight: normal;font-weight: normal;" class="card-text">
                    ${item.pkgNo}</span>
                  <br/> <span>Package Region</span> <span>:</span>
                  <span style="font-size: 13px; color: black; font-weight: normal" class="card-text">
                    ${item.pkgRegion}</span>
                  <br/> <span> Departure Date</span> <span>:</span>
                  <span style="font-size: 13px; color: black; font-weight: normal" class="card-text">
                    ${item.pkgDepart}</span>
                  <br /> <span>Return Date</span> <span>:</span>
                  <span style="font-size: 13px; color: black; font-weight: normal" class="card-text">
                    ${item.pkgReturn}</span>
                  <br/> <span>Package Budget</span> <span>:</span>
                  <span style="font-size: 13px; color: black; font-weight: normal" class="card-text">
                    ${item.pkgBudget}</span>
                  <br/> <span>Package Contents</span> <span>:</span> 
                  <div class="recoContent">
                    <span style="font-size: 13px; color: black; font-weight: normal" class="card-text">
                      ${item.pkgContents}</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
              `;
              });
              $("#videoObj").css("display", "block");
              $("#videoObj").trigger("play");
              setTimeout(function () {
                $("#videoObj").css("display", "none");
                $("#recommendedTitle").css("display", "block");
                $("#recommendedVideo").html(tempVideo);
                $("#recommendedResult").html(tempHtml);
                $(".footer").css("display", "none");
              }, 3500);
            },
          });
        });
        /*=========================== RECOMMENDATION #2 END =====================*/
        /*=======================================================================*/
      </script>
    </div>
  </body>
</html>
