@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
  /* font-weight: 400; */
  font-style: normal;
}
body {
  font-family: "Ubuntu", "Lato", "Pretendard", "Noto Sans JP", sans-serif;
  /* font-family: "Architects Daughter", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif; */
  font-size: 17px;
  color: #111;
  /* background-color: #111; */
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  font-family: inherit;
}

p {
  line-height: 1.5;
}

img {
  vertical-align: top;
}

.hidden {
  display: none !important;
}

:root {
  --green: rgb(35, 172, 143);
  --lightgreen: rgb(75, 168, 148);
  --lightmint: rgba(215, 255, 255, 0.87);
  --blue: rgb(7, 110, 144);
  --white: rgb(255, 251, 246);
  --black: rgb(23, 25, 32);
  --gray: rgb(107, 109, 114);
  --lightgray: rgb(204, 208, 216);
  --red: rgb(255, 43, 43);
  --sakura: rgb(220, 82, 155);
  --h2: 44px;
  --h3: 32px;
}

.font700 {
  font-weight: 700;
}

.font900 {
  font-weight: 900;
}

.sakura {
  color: var(--sakura);
}

.green {
  color: var(--green);
}

.myLogin {
  z-index: 999999;
  position: absolute;
  top: 25px;
  right: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  color: var(--black);
  padding: 0 20px;
}
.myLogin a {
  margin: 1px 15px;
}

.header {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10vw 0 10vw;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  color: #fff;
  z-index: 99999;
  height: 100px;
}

.header .logo a {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  margin-left: 0;
  margin-right: 130px;
  margin-top: 4px;
}

.header .logo a img {
  height: 120px;
  position: absolute;
}

.header .logo a .logo__img--dark {
  opacity: 0;
}

.header.on {
  color: #111;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.header.on .gnb .list > li > a {
  color: var(--gray);
}

.header.on .logo a .logo__img--dark {
  opacity: 1;
}

.header.on .logo a .logo__img--light {
  opacity: 0;
}

.header.on .gnb .list li:hover a {
  color: black;
}

.header.on .gnb .list > li .depth02 li a:hover {
  color: var(--green);
  height: 100%;
}

.gnb .list {
  display: flex;
}

/* a, span, em, input */
.gnb .list > li {
  position: relative;
  color: var(--lightgray);
  margin-top: 16px;
}

.gnb .list > li > a {
  height: 100px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  /* padding-left: 30px;
    padding-right: 30px; */
  padding: 0 30px;
  transition: color 0.25s ease-out;
}

.gnb .list > li:hover > a {
  background-color: var(--green);
  color: var(--black);
}

.gnb .list > li:hover .depth02 {
  /* display: block; */
  opacity: 1;
  pointer-events: auto;
}

.gnb .list > li .depth02 {
  background-color: var(--lightmint);
  color: var(--gray);
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.5s ease;
  /* display: none; */
}

.gnb .list > li .depth02 li a {
  display: block;
  padding: 10px 0;
}

.gnb .list > li .depth02 li a:hover {
  color: var(--green);
  height: 100%;
}

.language {
  display: flex;
  text-transform: uppercase;
  font-size: 18px;
}

.language a {
  margin-left: 15px;
}

.language .active {
  color: var(--blue);
}

/**********footer**********/
.footerContainer {
  padding-left: 20px;
  padding-right: 20px;
}

.footer__item:nth-child(1) {
  padding-left: 0px;
  width: 150px;
  top: 0;
}

.footer {
  background-color: var(--blue);
  padding: 60px 0px 0px 60px;
  color: #fff;
}

.footer {
  justify-content: space-between;
  flex-wrap: wrap;
  pointer-events: none;
}

.footer .footer-logo {
  width: 200px;
  margin-right: 20px;
  pointer-events: none;
}

.footer .footer-items {
  display: flex;
}

.footer .footer-items .footer__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer .footer-items .footer__item h2 {
  font-size: 20px;
}

.footer .footer-items .footer__item dl {
  display: flex;
  margin-bottom: 7.5px;
}

.footer .footer-items .footer__item dl dt {
  width: 150px;
}

.footer .footer-copyright {
  display: flex;
  justify-content: end;
  margin-left: auto;
}

.btn-top {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 50px;
  bottom: 50px;
  background-color: var(--blue);
  color: #fff;
  border-radius: 10px;
  z-index: 99;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(500px);
  transition: all 0.25s ease 0.25s;
}

.btn-top.on {
  transform: translateY(0);
}

.leftAlign {
  text-align: left;
}

.invContainer {
  padding-top: 100px;
  height: 100vh;
}

.section01 {
  padding: 100px 80px;
}

.section01 .container01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0 50px 0;
}

.investors01 {
  background-image: url("/images/investors/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.investors01 h2 {
  margin-bottom: 40px;
}

.investors01 .container01 {
  flex-direction: column;
  align-items: start;
  color: white;
}

.investors01 .investors__list {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.investors01 .investors__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  filter: grayscale(1);
  transition: filter 0.5s ease;
}

.investors01 .investors__list li:hover {
  filter: grayscale(0);
}

.investors01 .investors__list li img {
  width: 15vw;
}

.navy {
  color: rgb(78, 112, 126);
}

.navybar {
  content: "";
  display: block;
  width: 98px;
  height: 9px;
  background-color: #8b9ea2;
  margin-top: 50px;
  margin-bottom: 60px;
}

.graybar {
  content: "";
  display: block;
  width: 98px;
  height: 9px;
  background-color: #595961;
  margin-top: 50px;
  margin-bottom: 60px;
}

.txt__box02 {
  display: flex;
  justify-content: space-between;
}
.txt__box02 .img__box img {
  margin-left: 10px;
  height: 22vw;
  width: 33vw;
  overflow: hidden;
}
.txt__box02 .img__txt {
  font-family: "Ubuntu";
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  outline: 1px solid #ccc;
}
.txt__box02 .img__txt h1 {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.txt__box02 .img__txt p {
  font-size: 17px;
  color: #4e4e4e;
}

.pbox {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.invBox {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-top: -40px;
  margin-bottom: 30px;
}