<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>JAPAN</title>
  </head>
  <body>
    <div
      class="formContainer"
      id="contents"
      layout:fragment="contents"
      style="z-index: 99"
    >
      <main>
        <section class="main-img text-deco02">
          <img
            src="/images/japan/후지산2.jpg"
            alt="main-img"
            data-aos="fade-up"
            data-aos-delay="600"
          />
          <div class="main-img__txt" data-aos="fade-up" data-aos-delay="800">
            JAPAN | 일본 | 日本<br />
          </div>
          <div class="main-img__txt02" data-aos="fade-up" data-aos-delay="800">
            TRAVEL TIPS (여행 전에 꼭 알아둘 정보)
          </div>
        </section>

        <!-- main-img end -->
        <!-- gnb__03 end-->

        <section class="introduce section">
          <div class="container">
            <p data-aos="fade-up" data-aos-delay="400">
              오랜 전통과 세계적인 혁신 기술이 공존하는 나라, 바로 일본입니다.
              4개의 주요 섬으로 이루어진 일본은 다양한 기후와 풍경을
              자랑하는데요. 북부 지역은 눈 덮인 산이 대부분이지만 남부에는 맑은
              호수가 자리한 나가노와 오래된 사찰을 만날 수 있는 교토, 활기
              넘치는 수도 도쿄가 있죠. 일본 전역에는 철도망이 잘 조성되어 있어
              세계적인 수준의 고속 열차인 신칸센을 타고 남쪽의 아열대 해변에서
              최북단의 산맥까지 갈 수 있어요.
            </p>
            <p data-aos="fade-up" data-aos-delay="400">
              스모 경기와 가부키 공연부터 목판화와 다도에 이르기까지 옛 전통을
              잘 보존한 일본의 문화를 체험해 보세요. 도쿄에서 즐기는 호화로운
              쇼핑이나 교토에서 떠나는 옛 사찰 여행까지, 일본은 남다른 깊이와
              미학을 자랑하는 활기 넘치는 국가입니다.
            </p>
          </div>
        </section>
        <!-- introduce end -->

        <section class="travel section">
          <div class="container">
            <div class="title__box">
              <h1
                style="font-weight: bold"
                data-aos="fade-right"
                data-aos-delay="400"
              >
                일본의 인기 여행지
              </h1>
              <span data-aos="fade-right" data-aos-delay="600"
                >다음엔 어디로 떠나세요?</span
              >
              <div
                class="bar02"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
            </div>
            <div class="txt__box" data-aos="flip-left" data-aos-delay="600">
              <div class="img__box">
                <img src="/images/japan/도쿄 타워2.jpg" alt="도쿄" />
              </div>
              <div class="img__txt">
                <h1>도쿄</h1>
                <p>
                  도쿄는 일본의 수도이자 독특한 매력으로 전 세계에서 사랑받는
                  대도시입니다. 약 2,250km²의 면적을 자랑하는 도쿄는 그 자체로
                  하나의 세계라고 해도 과언이 아니죠. 치안이 좋고 삶의 질이
                  높기로 유명한 도쿄는 옛것과 새것이 멋진 조화를 이루고
                  있는데요. 고대 신사 바로 옆에 네온 불빛이 반짝이는 고층 건물이
                  자리해 독특한 경관을 이룹니다. 도쿄의 매력은 하나로 정의내리기
                  어렵습니다. 초현대적 감각의 신주쿠와 세련된 시부야 쇼핑
                  지역에서는 현대적인 분위기가 물씬 풍기죠. 하지만 옛 도쿄의
                  향취가 느껴지는 시타마시에서는 전통적인 일본의 모습을 만나보실
                  수 있어요. 도쿄 서쪽으로 뻗은 산맥의 장엄한 풍광을 감상하거나
                  요요기 공원 및 이노카시라 공원의 넓은 녹지에서는 푸르른 자연을
                  만끽하실 수 있습니다.
                </p>
              </div>
            </div>
            <div class="img__gallery__01">
              <img
                src="/images/japan/오사카.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="200"
              />
              <img
                src="/images/japan/교토2.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="300"
              />
              <img
                src="/images/japan/삿포로9999.webp"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="400"
              />
            </div>
            <div class="img__gallery__02">
              <img
                src="/images/japan/나고야9999.webp"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="500"
              />
              <img
                src="/images/japan/오키나와2.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="600"
              />
              <img
                src="/images/japan/홋카이도2.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="700"
              />
            </div>
          </div>
        </section>
        <!-- travel end-->

        <section class="story section">
          <div class="container">
            <div class="title__box">
              <h1 data-aos="fade-right" data-aos-delay="400">
                일본의 볼거리 및 놀거리
              </h1>
              <span data-aos="fade-right" data-aos-delay="600"
                >추천 스토리 및 즐길거리</span
              >
              <div
                class="bar02"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
              <p data-aos="fade-up" data-aos-delay="500">
                일본이라고 하면 흔히 떠오르는 이미지가 있죠. 하지만 그게 전부가
                아닙니다. 독특한 볼거리도 많이 숨어 있어요. 거리를 잠시만 거닐어
                보아도 일본에 얼마나 많은 즐길거리가 있는지 확인하실 수
                있는데요. 이름만 들어도 호기심을 자극하는 로봇 레스토랑이나
                파친코 가게, 쇼핑몰에 들어가시면 색다른 일본의 모습에 눈이
                휘둥그레질 거예요. 도심뿐만 아니라 일본을 가로질러 길게 뻗은
                산에서도 여러 흥미로운 액티비티를 즐기실 수 있어요. 스키와
                스노보드는 물론, 자연 산책로에서 즐기는 하이킹도 일 년 내내
                인기가 높은 액티비티입니다.
              </p>
            </div>
            <div class="txt__box">
              <div class="img__box">
                <img
                  src="/images/japan/후지산2.jpg"
                  alt=""
                  data-aos="fade-up-right"
                  data-aos-delay="300"
                />
                <div class="img__box__02">
                  <img
                    src="/images/japan/오사카 성.jpg"
                    alt=""
                    class="img__01"
                    data-aos="fade-down-left"
                    data-aos-delay="400"
                  />
                  <img
                    src="/images/japan/교토 거리9999.jpg"
                    alt=""
                    class="img__02"
                    data-aos="fade-up-left"
                    data-aos-delay="500"
                  />
                </div>
              </div>
              <div class="img__gallery__01">
                <img
                  src="/images/japan/삿포로2.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="200"
                />
                <img
                  src="/images/japan/벗꽃사진9.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="300"
                />
                <img
                  src="/images/japan/나고야성9.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="400"
                />
              </div>
              <div class="img__gallery__02">
                <img
                  src="/images/japan/시부야.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="500"
                />
                <img
                  src="/images/japan/아키하바라.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="600"
                />
                <img
                  src="/images/japan/사찰9.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="700"
                />
              </div>
            </div>
          </div>
        </section>
        <!-- story end -->

        <section class="food section">
          <div class="container">
            <div class="title__box">
              <h1 data-aos="fade-right" data-aos-delay="400">
                일본의 맛집 및 먹거리
              </h1>
              <div
                class="bar02"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
              <p
                style="font-size: 18px"
                data-aos="fade-up"
                data-aos-delay="600"
              >
                일본에서 즐기는 식사는 일본 여행의 백미라 할 수 있습니다. 일본은
                장수 노인이 많은 국가로도 유명하죠. 장수의 비결은 음식에 있다고
                해도 과언이 아닌데요. 미식을 즐기기로 유명한 일본의 요리는 재료
                본연의 맛을 살려 조리합니다. 한식을 좋아하시는 분이라면
                김치찌개나 삼겹살같이 익숙한 한국의 맛을 느낄 수 있는 식당도
                있으니 걱정하지 마세요. 친숙한 패스트푸드점이나 영국식 펍도
                곳곳에서 찾아보실 수 있습니다. 하지만 군침 도는 와규와 생으로
                즐기는 신선한 해산물 등 다채로운 일본 요리를 맛볼 수 있는 기회를
                놓칠 수 없겠죠. 일식에서는 일반적으로 다양한 요리를 작은 접시에
                내오기 때문에 한 끼에 다양한 맛을 즐기실 수 있어요. 독특한
                철판구이 요리부터 튀김, 대하 요리, 연어구이에 이르기까지 일본
                전역의 오랜 전통이 담긴 맛을 찾아 떠나보세요.
              </p>
            </div>
            <div class="txt__box">
              <div class="img__box">
                <img
                  src="/images/japan/라멘9.jpg"
                  alt=""
                  data-aos="fade-up-right"
                  data-aos-delay="300"
                />
                <div class="img__box__02">
                  <img
                    src="/images/japan/우동집.jpg"
                    alt=""
                    class="img__01"
                    data-aos="fade-down-left"
                    data-aos-delay="400"
                  />
                  <img
                    src="/images/japan/오사카 맛집.jpg"
                    alt=""
                    class="img__02"
                    data-aos="fade-up-left"
                    data-aos-delay="500"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- food end -->

        <section class="shopping section">
          <div class="container">
            <div class="title__box">
              <h1 data-aos="fade-right" data-aos-delay="400">
                일본에서 살 것과 쇼핑하기 좋은 곳
              </h1>
              <div
                class="bar02"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
              <p
                style="font-size: 18px"
                data-aos="fade-up"
                data-aos-delay="600"
              >
                일본에서 쇼핑은 현대 생활의 필수 요소에요. 메가스토어, 쇼핑몰,
                아케이드 상가, 슈퍼마켓 및 작은 세븐일레븐까지도 일상생활에
                녹아들어 있어요. 일본의 쇼핑몰은 마치 쇼핑몰이 무엇인가에 대한
                새로운 정의를 내리는 것만 같죠. 사람들은 대부분 일본에서의
                쇼핑이라고 하면 첨단 전자제품을 먼저 떠올리지만 천으로 만든
                훌륭한 제품은 물론 수공예품, 인형, 유리 제품, 그리고 최신 패션
                아이템과 액세서리 등 다양한 제품을 찾아보실 수 있습니다. 모든
                상품을 100엔 정도의 가격으로 판매하는 백엔 샵도 빼놓을 수 없죠.
              </p>
            </div>
            <div class="txt__box">
              <div class="img__box">
                <img
                  src="/images/japan/도쿄밤거리99.jpg"
                  alt=""
                  data-aos="fade-up-right"
                  data-aos-delay="300"
                />
                <div class="img__box__02">
                  <img
                    src="/images/japan/세븐일레븐9.jpg"
                    alt=""
                    class="img__01"
                    data-aos="fade-down-left"
                    data-aos-delay="400"
                  />
                  <img
                    src="/images/japan/쇼핑몰9.jpg"
                    alt=""
                    class="img__02"
                    data-aos="fade-up-left"
                    data-aos-delay="500"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- shopping end -->

        <section class="night__life section">
          <div class="container">
            <div class="title__box">
              <h1 data-aos="fade-right" data-aos-delay="400">
                일본의 나이트라이프 및 즐기기 좋은 곳
              </h1>
              <div
                class="bar02"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
              <p
                style="font-size: 18px"
                data-aos="fade-up"
                data-aos-delay="600"
              >
                밤이 되면 일본인들은 긴장을 풀고 신나게 놀며 스트레스를
                날리는데요. 흥겹게 노는 일본인을 보다 보면 '열심히 일하고 열심히
                놀자'라는 말이 생각나실 거예요. 일본 최고의 나이트라이프는
                유행을 선도하는 도쿄에서 즐길 수 있지만, 지방 도시에서도 저마다
                고유한 매력과 특징이 묻어나는 나이트라이프를 즐길 수 있습니다.
                일본의 대표적인 나이트라이프 문화인 가라오케뿐만 아니라 고급
                칵테일 바, 나이트클럽, 그리고 친근한 분위기의 이자카야도 인기가
                많습니다. 일본에는 비싼 주점도 많지만, 저렴한 이자카야에서는
                300엔 정도의 가격으로 맥주를 즐기실 수 있어요. 편의점에서는 더
                저렴하죠. 사케와 달콤한 일본식 소주도 한잔해 보세요. 식사에
                곁들이면 무척 잘 어울립니다.
              </p>
            </div>
            <div class="txt__box">
              <div class="img__box">
                <img
                  src="/images/japan/도쿄밤거리9.jpg"
                  alt=""
                  data-aos="zoom-in-right"
                  data-aos-delay="600"
                />
                <div class="img__box__02">
                  <img
                    src="/images/japan/나이트라이프9.jpg"
                    alt=""
                    class="img__01"
                    data-aos="zoom-in-left"
                    data-aos-delay="700"
                  />
                  <img
                    src="/images/japan/밤거리9.jpg"
                    alt=""
                    class="img__02"
                    data-aos="zoom-in-left"
                    data-aos-delay="800"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- night__life end -->
        
      <section class="discount2">
        <div class="discount-title">
          <div>
            <h2 data-aos="fade-right" data-aos-delay="300">Let's go on a trip to Japan! </h2>
          </div>
        </div>
        <div class="container">
          <div class="discount-banner" data-aos="fade-right" data-aos-delay="400" >
            <ul class="discount-banner-list swiper-wrapper mt-5" id="pkgSlide">
              <li class="swiper-slide" th:each="item : ${pkgList}" data-aos="zoom-in" data-aos-duration="600" >
                <a href="" th:href="@{/package/pkgdetailview(pkgNo=${item.pkgNo})}">
                  <div class="discount-img">
                    <img src="/images/korea/korea (5).jpg"
                    th:src="@{|/upload/${item.pkgMainRenamedPath}|}"
                    alt="" />
                    <span class="sticker">HOT!</span>
                  </div>
                  <div class="discount-txt">
                    <h3>
                      <span th:text="${item.pkgName}">
                        Last Deal!
                      </span>
                      <th:block th:each="num: ${#numbers.sequence(1,item.ratedStar)}">
                        <span class="star" style="color:#ccac00;">★</span>
                      </th:block>
                    </h3>
                    <p class="date" th:text="${item.pkgBudget}">$2,000~</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </section>
      </main>
    </div>
  </body>
</html>
