<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>KOREA</title>
  </head>
  <body>
    <div
      class="formContainer"
      id="contents"
      layout:fragment="contents"
      style="z-index: 99"
    >
      <main>
        <section class="main-img text-deco">
          <img
            src="/images/korea/이화동 종로구.jpg"
            alt="main-img"
            data-aos="fade-up"
            data-aos-delay="600"
          />
          <div class="main-img__txt" data-aos="fade-up" data-aos-delay="800">
            SOUTH KOREA | 한국 | 韓国<br />
          </div>
          <div class="main-img__txt02" data-aos="fade-up" data-aos-delay="800">
            TRAVEL TIPS (여행 전에 꼭 알아둘 정보)
          </div>
        </section>
        <!-- main-img end -->
        <!-- gnb__03 end -->

        <section class="introduce section">
          <div class="container">
            <p data-aos="fade-up" data-aos-delay="400">
              매혹적인 나라, 한국을 소개합니다. 최신 기술이 눈 앞에 펼쳐지는
              현대적인 도시와 기원전 2333년으로 거슬러 올라가는 풍부한 문화와
              역사를 모두 만나실 수 있어요.
            </p>
            <p data-aos="fade-up" data-aos-delay="400">
              한국은 대만, 홍콩, 싱가포르와 함께 '아시아의 네 마리 호랑이' 중
              하나이면서 전 세계 주요 경제국 중 하나예요. 또한, 아시아의 대표
              여행지이기도 하죠. 산속의 고요한 절, 왕릉, 자연 그대로의 바닷가
              마을부터 그림 같은 산과 화산 풍경에 이르기까지 다양한 매력이
              가득합니다.
            </p>
          </div>
        </section>
        <!-- introduce end -->

        <section class="travel section">
          <div class="container">
            <div class="title__box">
              <h1
                style="font-weight: bold"
                data-aos="fade-right"
                data-aos-delay="400"
              >
                한국의 인기 여행지
              </h1>
              <span data-aos="fade-right" data-aos-delay="600"
                >다음엔 어디로 떠나세요?</span
              >
              <div
                class="bar01"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
            </div>
            <div class="txt__box" data-aos="flip-left" data-aos-delay="600">
              <div class="img__box">
                <img src="/images/korea/경복궁.jpg" alt=""/>
              </div>
              <div class="img__txt">
                <h1>서울</h1>
                <p style="font-size: 1rem;">
                  볼거리, 먹거리, 쇼핑 등 여행의 모든 것을 갖춘 도시예요.
                  랜드마크인 N서울타워에서는 서울을 한눈에 조망할 수 있어요.
                  과거로 시간여행을 하고 싶다면 경복궁이나 북촌한옥마을을
                  걸어보세요. 명동, 남대문시장, 동대문시장은 쇼핑의 중심지일 뿐
                  아니라 먹거리 골목으로도 유명해요. 홍대와 이태원에서는 서울의
                  힙스터들을 만날 수 있고, 롯데월드와 코엑스는 아이들과 한나절
                  즐기기에 좋아요. 도심 속에서 휴식이 필요할 때는 청계천과
                  서울숲을 산책해 보세요.
                </p>
              </div>
            </div>
            <div class="img__gallery__01">
              <img
                src="/images/korea/부산시.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="200"
              />
              <img
                src="/images/korea/제주도-2.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="300"
              />
              <img
                src="/images/korea/인천.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="400"
              />
            </div>
            <div class="img__gallery__02">
              <img
                src="/images/korea/강릉-3.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="500"
              />
              <img
                src="/images/korea/여수.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="600"
              />
              <img
                src="/images/korea/경주.jpg"
                alt=""
                data-aos="zoom-in"
                data-aos-delay="700"
              />
            </div>
          </div>
        </section>
        <!-- travel end -->

        <section class="story section">
          <div class="container">
            <div class="title__box">
              <h1 data-aos="fade-right" data-aos-delay="400">
                한국의 볼거리 및 놀거리
              </h1>
              <span data-aos="fade-right" data-aos-delay="600"
                >추천 스토리 및 즐길거리</span
              >
              <div
                class="bar01"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
              <p
                style="font-size: 18px"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                현대와 전통문화가 조화를 이루며 공존하는 서울에는 구석구석
                즐길거리가 가득해요. 오랜 역사를 지니고 있어 아는 만큼 새롭게
                보이는 다채로운 도시가 바로 서울이니까요. 365일 즐길거리가
                넘쳐나는 도시 서울로 여러분을 초대해요. 서울은 최첨단 기술을
                곳곳에서 볼 수 있는 대도시이면서도 유구한 역사, 문화가 살아 숨
                쉬는 곳이에요. 이색적인 조화와 대비가 무척 매력적으로 다가올
                거예요. 역사의 발자취를 느껴볼 수 있는 고궁, 사찰, 세계적 규모의
                박물관은 물론이고 첨단 기술을 체험해볼 수 있는 공간도 마련되어
                있어요. 뿐만 아니라, 서울에는 도심의 마천루 사이로 숲과 계곡을
                연상시키는 공원과 정원이 있어 일상에서 벗어나 힐링할 수 있어요.
                관광에서 빼놓을 수 없는 쇼핑까지 여러분을 즐겁게 하죠. 전통
                시장과 야시장, 쇼핑몰에서 원하는 아이템을 구매하실 수 있어요.
                여러분의 24시간을 다채로운 즐길거리로 가득 채워보세요.
              </p>
            </div>
            <div class="txt__box">
              <div class="img__box">
                <img
                  src="/images/korea/청계천.jpg"
                  alt=""
                  data-aos="fade-up-right"
                  data-aos-delay="300"
                />
                <div class="img__box__02">
                  <img
                    src="/images/korea/제주도-1.jpg"
                    alt=""
                    class="img__01"
                    data-aos="fade-down-left"
                    data-aos-delay="400"
                  />
                  <img
                    src="/images/korea/부산 해운대.jpg"
                    alt=""
                    class="img__02"
                    data-aos="fade-up-left"
                    data-aos-delay="500"
                  />
                </div>
              </div>
              <div class="img__gallery__01">
                <img
                  src="/images/korea/여수-2.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="200"
                />
                <img
                  src="/images/korea/경주-3.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="300"
                />
                <img
                  src="/images/korea/인천 송도-2.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="400"
                />
              </div>
              <div class="img__gallery__02">
                <img
                  src="/images/korea/인천 송도-1.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="500"
                />
                <img
                  src="/images/korea/율곡로 종로구.jpg"
                  alt=""
                  class="img__2"
                  data-aos="zoom-in"
                  data-aos-delay="600"
                />
                <img
                  src="/images/korea/강릉-2.jpg"
                  alt=""
                  data-aos="zoom-in"
                  data-aos-delay="700"
                />
              </div>
            </div>
          </div>
        </section>
        <!-- story end -->

        <section class="food section">
          <div class="container">
            <div class="title__box">
              <h1 data-aos="fade-right" data-aos-delay="400">
                한국의 맛집 및 먹거리
              </h1>
              <div
                class="bar01"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
            </div>
            <p style="font-size: 18px" data-aos="fade-up" data-aos-delay="600">
              한국 여행의 하이라이트 중 하나는 틀림없이 줄지어 늘어선
              맛집들입니다. 분주하고 국제적인 서울의 주방에서부터 조용하고
              전통적인 지역 레스토랑에 이르기까지, 요리의 향연이 한국을 여행하는
              여행자들을 기다리고 있습니다. 한국 음식은 보통 맛있으면서도 맵고,
              풍성하면서도 영양가가 있습니다. 게다가 한국은 저렴하고 맛있는 거리
              음식을 즐길 수 있는 최고의 장소 중 하나입니다. 어느 지역이든
              언제든지 간에 당신은 수십 개의 길거리 음식 가판대를 찾을 수 있을
              겁니다.
            </p>
            <div class="txt__box">
              <div class="img__box">
                <img
                  src="/images/korea/한식-1.jpg"
                  alt=""
                  data-aos="fade-up-right"
                  data-aos-delay="300"
                />
                <div class="img__box__02">
                  <img
                    src="/images/korea/한식-2.jpg"
                    alt=""
                    class="img__01"
                    data-aos="fade-down-left"
                    data-aos-delay="400"
                  />
                  <img
                    src="/images/korea/한식-3.jpg"
                    alt=""
                    class="img__02"
                    data-aos="fade-up-left"
                    data-aos-delay="500"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- food end -->

        <section class="shopping section">
          <div class="container">
            <div class="title__box">
              <h1 data-aos="fade-right" data-aos-delay="400">
                한국에서 살 것과 쇼핑하기 좋은 곳
              </h1>
              <div
                class="bar01"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
              <p
                style="font-size: 18px"
                data-aos="fade-up"
                data-aos-delay="600"
              >
                여기에는 당신이 한국에서 쇼핑을 해야만 할 몇 가지 이유가
                있습니다. 현대적인 쇼핑몰에서는 최적의 편안함을 제공함과 동시에
                온갖 첨단 제품을 찾을 수 있고, 조금 질린다면 부산의
                시장바닥에까지 내려갈 수 있습니다. 대부분의 시장 상인들은 당신이
                열심히 흥정할 것으로 예상하고 있을테니, 미소로 화답하며
                흥정하십시오. 또한 쇼핑을 하는 동안에도 얼마든지 괜찮은
                레스토랑을 발견할 수 있습니다. 이 모든 것이 한국에서만 경험할 수
                있는 고유한 것들 중 하나입니다. 꼭 한국 여행 중에 쇼핑을
                즐겨보세요.
              </p>
            </div>
            <div class="txt__box">
              <div class="img__box">
                <img
                  src="/images/korea/서울 스타필드.jpg"
                  alt=""
                  data-aos="fade-up-right"
                  data-aos-delay="300"
                />
                <div class="img__box__02">
                  <img
                    src="/images/korea/한남동 디자인샵.jpg"
                    alt=""
                    class="img__01"
                    data-aos="fade-down-left"
                    data-aos-delay="400"
                  />
                  <img
                    src="/images/korea/한국 전통시장 먹거리.jpg"
                    alt=""
                    class="img__02"
                    data-aos="fade-up-left"
                    data-aos-delay="500"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- shopping end -->

        <section class="night__life section">
          <div class="container">
            <div class="title__box">
              <h1 data-aos="fade-right" data-aos-delay="400">
                한국의 나이트라이프 및 즐기기 좋은 곳
              </h1>
              <div
                class="bar01"
                data-aos="fade-right"
                data-aos-delay="500"
              ></div>
              <p
                style="font-size: 18px"
                data-aos="fade-up"
                data-aos-delay="600"
              >
                한국에는 위황찬란한 밤 문화가 있습니다. 수많은 전통 찻집,
                커피숍, 극장 쇼, 디스코, 패셔너블한 나이트클럽, 트렌디한 펍,
                전용 바가 있죠. 관광으로 긴 하루를 보낸 후 휴식을 취하고 활력을
                되찾을 수 있는 좋은 기회이자 밤을 즐기는 완벽한 방법 중
                하나입니다. 나이트클럽과 가라오케 바도 한국에서 꽤 인기가 있지만
                북적이는 펍이나 디스코텍이 싫다면 커피숍과 찻집이 좋은 대안이 될
                수 있습니다. 즉, 취향에 관계없이 한국의 활기찬 밤문화를 즐길 수
                있습니다.
              </p>
            </div>
            <div class="txt__box">
              <div class="img__box">
                <img
                  src="/images/korea/나이트 클럽.jpg"
                  alt=""
                  data-aos="zoom-in-right"
                  data-aos-delay="600"
                />
                <div class="img__box__02">
                  <img
                    src="/images/korea/서울 남산타워 밤.jpg"
                    alt=""
                    class="img__01"
                    data-aos="zoom-in-left"
                    data-aos-delay="700"
                  />
                  <img
                    src="/images/korea/경주-2.jpg"
                    alt=""
                    class="img__02"
                    data-aos="zoom-in-left"
                    data-aos-delay="800"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- night__life end -->
        
      <section class="discount2">
        <div class="discount-title">
          <div>
            <h2 data-aos="fade-right" data-aos-delay="300">Let's go on a trip to Korea! </h2>
          </div>
        </div>
        <div class="container">
          <div class="discount-banner" data-aos="fade-right" data-aos-delay="400" >
            <ul class="discount-banner-list swiper-wrapper mt-5" id="pkgSlide">
              <li class="swiper-slide" th:each="item : ${pkgList}" data-aos="zoom-in" data-aos-duration="600" >
                <a href="" th:href="@{/package/pkgdetailview(pkgNo=${item.pkgNo})}">
                  <div class="discount-img">
                    <img src="/images/korea/korea (5).jpg"
                    th:src="@{|/upload/${item.pkgMainRenamedPath}|}"
                    alt="" />
                    <span class="sticker">HOT!</span>
                  </div>
                  <div class="discount-txt">
                    <h3>
                      <span th:text="${item.pkgName}">
                        Last Deal!
                      </span>
                      <th:block th:each="num: ${#numbers.sequence(1,item.ratedStar)}">
                        <span class="star" style="color:#ccac00;">★</span>
                      </th:block>
                    </h3>
                    <p class="date" th:text="${item.pkgBudget}">$2,000~</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </section>
      </main>
    </div>
  </body>
</html>
